body{
    
    margin: 0;
}


.navbar{
    color: white;
    display: flex;
    background-color: rgb(214,162,146);
    position: fixed;
    padding-right: 26.4ch;
}

.name{
    padding-left: 10ch;
}

.navlinks{
    display: flex;
    padding-left: 80ch;
}

.links{
    padding-left: 5ch;
    padding-right: 5ch;
    
}

.slink{
    color: white;
    text-decoration: none;
}

.clicked-navLink{
    text-decoration: underline; 
    text-decoration-color: aliceblue
}

.slink:hover{
    text-decoration: underline;
    text-decoration-color: aliceblue;
}


.page1{
    color: white;
    display: flex;
    padding-bottom: 22ch;
    background-color: rgb(183,130,118);
}

.text{
    padding-left: 10ch;
    padding-top: 10ch;
}

.desc1{
    font-size: 200%;
}

.desc2{
    font-size: 150%;
}

.button{
    width: 30ch;
    background-color: rgb(183,130,118);
    color: white;
    border-radius: 10px;
    border-color: rgb(214,162,146);
    border-width: 0.5ch;
    margin: 1ch;
    border-style: solid;
    
}

.allbuttons{
    display: flex;
    padding-top: 9.5ch;
}

.button2{
    padding-left: 10ch;
}

.allhobbies{
    display: flex;
    justify-content: center;
}

.hobby{
    padding: 5ch;
}

#dance{
    padding-left: 3ch;
}
#code{
    padding-left: 4ch;
}

.title1{
    display: flex;
    justify-content: center;
    font-size: 200%;
}

.page2{
    padding-top: 30ch;
    padding-bottom: 20ch;
}

.skills{
    display: flex;
    flex-direction: column;
    padding-left: 70ch;
}

.tl{
    display: flex;
    flex-direction: row;
    padding-top: 6ch;
    padding-bottom: 6ch;
}

.levels{
    width: 60ch;
    height: 3ch;
    background-color: white;
    }

.level{
    background-color: rgb(214,162,146);
    width: 60ch;
    height: 3ch;
}

#level1{
    width: 80%;
}

#level2{
    width: 60%;
}

#level3{
    width: 40%;
}

.page3{
    background-color: rgb(247,236,233);
    padding-bottom: 7ch;
}

.title2{
    display: flex;
    justify-content: center;
    font-size: 200%;
    
}

